<h2>user-detail works!</h2>
<mat-card class="user-detail-header">
    <img class="avatar" src="../../assets/img/avatar-man.png" alt="">
    <div class="profile-details">
        <h2>Max Mustermann</h2>
        max.mustermann@test.de
    </div>
</mat-card>

<mat-card class="user-detail-address">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="user-detail-title">Address</mat-card-title>
    </mat-card-header>
    <mat-card-content class="user-detail-content">
        <p>
            Musterstrasse 23 <br>
            12345 Musterstadt
        </p>
    </mat-card-content>
</mat-card>