<mat-card>
    <mat-card-content>
        <h2>Registered Users</h2>
    </mat-card-content>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>

    </table>
</mat-card>

<button (click)="openDialog()" mat-fab color="primary" class="add-user-btn" matTooltip="Add user"
    matTooltipPosition="above">
    <mat-icon><span>add</span></mat-icon>
</button>