<mat-card>
    <mat-card-content>
        <h2>Registered Users</h2>
    </mat-card-content>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{ this.user.firstName }} {{ this.user.lastName }} {{ this.user.address }}
                {{ this.user.no }} {{ this.user.city }} {{ this.user.zipCode }} {{ this.user.birthDate }}
            </td>
            <td></td>
            <td>3</td>
        </tr>
    </table>
</mat-card>

<button (click)="openDialog()" mat-fab color="primary" class="add-user-btn" matTooltip="Add user"
    matTooltipPosition="above">
    <mat-icon><span>add</span></mat-icon>
</button>